/* font  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');


body {
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}

header {
    background-color: rgba(255, 144, 14, 0.1);
    height: 1322px;
    width: 100%;
}


/* navbar */
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 230px;
    margin-right: 230px;
}
@media screen and (max-width: 576px) {
    .nav-header {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.g3-archi {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.bullet ul {
    display: flex;
}
@media screen and (max-width: 576px) {
    .bullet ul{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.bullet li a {
    text-decoration: none;
    color: #424242;
}

.bullet li {
    list-style: none;
    margin-left: 10px;
    font-weight: 500;
    font-size: 18px;
}

/* header-body */
.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-info {
    height: 80%;
    width: 60%;
}

.header-title {
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #131313;
    margin-bottom: 0px;
    margin-top: 0px;
}

.header-description {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
}

.explore-me,
.explore-more {
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    background-color: #FF900E;
    border: 0;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 50px;

}

.header-image img{
    height: 50%;
    /* width: 90%; */
    margin-left: auto;
    margin-right: auto;
}

/* ------   second section    ---------- */

section {
    margin-top: 85px;
    /* margin-left: 300px; */
}

.second-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    order: -1;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

@media screen and (max-width:576px) {
    .second-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }

    .section-description {
        order: -1;
        margin-bottom: 200px;
        text-align: center;

    }
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    width: 50%;
    margin-left: 200px;
}

@media screen and (max-width:576px) {
    .images {
        grid-template-columns: repeat(1, 1fr);
        margin: auto auto;
    }
}

.section-description {
    width: 50%;
    height: 80%;
    margin-right: 10%;
    margin-left: 10%;
}

.section-description h3 {
    font-weight: 700;
    font-size: 45px;
}

.section-description p {
    font-weight: 400;
    font-size: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.grey {
    color: #727272;
}

.orange {
    color: #FF900E;
}

/* ------ third section ----- */
/* .third-section {
    width: 80%;
    height: 70;
    margin-bottom: 200px;
    margin-left: 20%;
    margin-right: 10%;
} */

.third-section-main {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
    height: 70%;
    margin-bottom: 200px;
    margin-left: 10%;
    margin-right: 20%;
    
}

@media screen and (max-width: 576px) {
    .third-section-main {
        grid-template-columns: repeat(1, 1fr);
    }
}

.text {
    margin-top: 0px;
    height: 50%;
    width: 40%;
    margin-left: 100px;
}

@media screen and (max-width: 576px) {
    .text {
        width: 90%;
        margin: 2px;
    }
}

.text p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.architect-img img {
    width: 80%;
    height: 982px;
}

.image-button {
    width: 800px;
    height: 1059px;
    margin-right: 100px;
}




.experience {
    width: 40%;
    height: 20%;
    border: 0;
    border-radius: 8px;
    color: white;
    background-color: #FF900E;
    /* font-weight: 700; */
    font-size: 65px;
    transform: translate(-50px, -100px);
}

.small {
    /* text-align: center; */
    font-weight: 400;
    font-size: 30px;
}



.feature-enjoy {
    padding-left: 10px;
    border-left: 5px solid #FF900E;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    width: 460px;
}

.feature-point {
    padding: 30px;
    box-shadow: 0px 4px 20px 0px grey;
    border: 0;
    border-radius: 8px;
    width: 586px;
    height: 150px;
    margin-bottom: 20px;

}

.feature-paragraph {
    width: 586px;
    height: 150px;
}

/* 4th section */
.fourth-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    margin-bottom: 100px;

}

.fourth-header h3 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 0px;
}

.fourth-desc {
    width: 542px;
    height: 52px;
    margin-bottom: 60px;
}

.fourth-desc p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    text-align: center;

}

.some-facts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    /* justify-content: space-around; */
}
@media screen and (max-width:576px) {
    .some-facts{
        grid-template-columns: repeat(1, 1fr);
    }
    
}

.fact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 241.83px;
    height: 241.83px;
    background-color: white;
    /* stransition: transform; */

}

.fact:hover {
    transform: scale(1.2);
    box-shadow: 0px 4px 20px 0px #FF900E;
    transition-duration: .5s;
    transition-timing-function: ease;
    margin: 5px;

}

.fact p {
    font-weight: 600;
    font-size: 20px;
    color: #727272;

}

/* sponser section */

.sponser {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.our-sponsers h3 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    text-align: center;
    margin-bottom: 0;
}

.our-sponsers {
    width: 542px;
    height: 129px;
}

.our-sponsers p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    text-align: center;

}

.sponser-logo {
    margin-top: 50px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 100px;
    margin-top: 80px;
    margin-bottom: 120px;
}
.sponser-logo img{
    filter: grayscale(100%);
}

@media screen and (max-width:576px){
    .sponser-logo{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-sponsers p{
        word-wrap: break-word;
    }
    .sponser{
        width: 90%;
    }
}

.footer {
    width: 1440px;
    height: 80px;
    background: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    padding-top: 40px;
    margin: auto auto;
    margin-bottom: 100px;
}
@media screen and (max-width:576px){
    .footer{
        height: auto;
    }
    .footer p{
        overflow: auto;
    }
}

.subscribe {
    padding-top: 130px;
    margin-left: 20px;
}


.footer-2{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFF4E7;
    align-items: center;
    padding-bottom: 20px;
    justify-content: flex-start;
}
.gradient-btn {
    height: 64px;
    width: 160px;
    border-radius: 5px;
    border: 0;
    font-weight: 600;
    font-size: 20px;
    /* text-align: center; */
    color: black;
    margin-top: 20px;
    background-color: #FF900E;

}

.enter-email {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 325px;
    height: 55px;
    border: 1px solid white;
    border-radius: 8px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #151414;
    padding-left: 10px;
    text-align: center;
}